# Gauge - metadata dir
.gauge

# Gauge - log files dir
logs

# Gauge - reports dir
reports

# Gauge - JavaScript node dependencies
node_modules
.gradle
.idea
build
out
node_modules
.DS_STORE
code-examples
tmp
tmp-test
/docs/CodeLens.vpp.*
