.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.comment {
  color: grey;
}

.code-entity-active {
  background-color: #feff7f;
}

/** Kotlin **/
.class > .text-node:first-child,
.binding > .text-node:first-child,
.fun > .text-node:first-child {
  color: darkblue;
  font-weight: bold;
}

.file-kotlin .dotQualifiedExpression > .referenceExpression:first-child > .name {
  color: #004057;
}

.file-kotlin .dotQualifiedExpression > .referenceExpression > .name {
  color: purple;
}

/** Javascript **/

.class > .name,
.fun > .name {
  color: #63472b
}

.file-js .ReturnStatement > .text-node:first-child,
.file-js .ThisExpression > .text-node:first-child {
  color: darkblue;
  font-weight: bold;
}

.file-js .block .name {
  color: darkgreen;
}

.file-js .MemberExpression > .Identifier > .name {
  color: purple;
}

.file-js .MemberExpression > .Identifier:first-child > .name {
  color: #004057;
}

.string {
  color: forestgreen;
  font-weight: bold;
}

.number {
  color: blue;
}





